<div id="logIn">
    <div>KIPALOG</div>
    <p>Chia sẻ và học hỏi kiến thức một cách dễ dàng hơn</p>
    <div id="inForm" *ngIf="CheckUser">
        Sai tên tài khoản hoặc mật khẩu.
    </div>
    <form class="form-group" [formGroup]="LoginForm">

            <div class="form-group">
              <input class="form-control" type="text" formControlName="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" formControlName="password" placeholder="Password">
            </div>
            <button class="btn btn-success" (click)="Login()"> Đăng nhập </button>
          </form>

</div>
