<div id="header">
  <div id="main-content">
    <div id="logo">
      <a routerLink="posts">Kipalog
      </a>
    </div>
    <input type="text" class="form-control" placeholder="Tìm kiếm" id="search">
    <a routerLink="posts/new">
      <div class='atag'>
        <i class="fa fa-edit"></i>
        Viết bài
      </div>
    </a>
    <a routerLink="">
      <div class='atag'>
        <i class="fa fa-home"></i>
        Trang chủ
      </div>
    </a>

    <a routerLink="posts/store">
      <div class='atag'>
          <i class="fa fa-bookmark"></i>
        Kho log
      </div>
    </a>

    <div id="loginArea" *ngIf="!logIn; else loggedIn" class='atag'>
      <a routerLink="login">Login</a>
      <a routerLink="signup">Signup</a>
    </div>
    <ng-template #loggedIn> Logged in </ng-template>
  </div>
</div>


<router-outlet></router-outlet>