<div id="main">

  <div id="quote">
    <p>"
      <b>In theory, theory and practice are the same. In practice, they're not</b>" -- Yoggi Berra</p>
  </div>

  <nz-tabset>
    <nz-tab nzTitle="Bài viết hay">
      <div id="list">
        <nz-list [nzDataSource]="posts" [nzItemLayout]="'vertical'" [nzRenderItem]="item" [nzLoading]="loading" [nzLoadMore]="loadMore">
          <ng-template #item let-item>
            <nz-list-item [nzContent]="item.content" [nzActions]="[likeAction,shareAction]" [nzExtra]="extra">
              <ng-template #likeAction>
                <i (click)="increaseLike(item.id)" class="anticon anticon-like-o" style="margin-right: 8px;"></i> {{item.likeCount}}</ng-template>
              <ng-template #shareAction>
                <i (click)="increaseShare(item.id)" class="anticon anticon-share-alt" style="margin-right: 8px;"></i> {{item.shareCount}}</ng-template>
              <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.tag">
                <ng-template #nzTitle>
                  <a (click)="onPostDetail(item.title, item)" id="title">{{item.title}}</a>
                </ng-template>
              </nz-list-item-meta>
              <ng-template #extra>
                <img width="272" alt="logo" [src]=item.imgPath>
              </ng-template>
            </nz-list-item>
          </ng-template>
          <ng-template #loadMore>
            <div *ngIf="showLoadingMore" class="loadmore">
              <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">Load more</button>
              <nz-spin *ngIf="loadingMore" [nzSpinning]="loadingMore"></nz-spin>
            </div>
          </ng-template>
        </nz-list>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Bài viết mới">
      Content of Tab Pane 2
    </nz-tab>
  </nz-tabset>

</div>


<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100" (nzOnClick)="notify()">
  <ng-template #tpl>
    <div class="ant-back-top-inner">UP</div>
  </ng-template>
</nz-back-top>


<button (click)="xemacc()">anvao day</button>