.post-detail{
    width: 60vw;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    padding: 0 30px;
    border-left: 0.3px solid #00918B;
    border-right: 0.3px solid #00918B;
}

.top-content{
    margin-top: 30px;
}

.title{
    color: #00918B;
    font-size: 35px;
}

.top-content{
    display: flex;
}
.head{
    width: 35vw;
}

#kipalog{
    width: 150px;
    height: 35px;
    background-color: #00918B;
    color: white;
    font-size: 13px;
    border-radius: 20px;
}

#logged{
    width: 150px;
    height: 35px;
    border: 1px solid #00918B;
    background-color: white;
    font-size: 13px;
    color: #00918B;
    border-radius: 20px;
}

.kipalogArea{
    margin: auto;
}

img{
    width: 25vw;
    height: 15vw;
    margin-left: 50px;
}